@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
            
body {
    font-family: 'roboto';
    font-size: 20px;
}

.mainindex {
    margin: 160px 16% auto 16%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.logoindex {
    padding-bottom: 80px;
}

.fotoypresentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.fotoperfil {
    border-radius: 384px;
    border: 9px solid #ff6600;
}

.fotoyespiral {
    position: relative;
    display: inline-block;
}

.contenedordelespiral {
    padding-left: 10%;
}

.espiral {
    position: absolute;
    animation-name: giro;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes giro {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg); 
    }
}

.presentacion p {
    max-width: 900px;
    font-size: 1.6em;
    color: #ff6600;
    padding-bottom: 40px;
}

.contenedordeflor {
    display: flex;
    align-self: flex-end;
    padding-right: 14%;
    padding-bottom: 120px;
}

.flor {
    animation-name: giro;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes giro {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg); 
    }
}

.navindex {
    display: flex;
    justify-content: center;
    gap: 12%;
}

.botonesindex {
    font-size: 1.6em;
    font-weight: 900;
    color: #283f68;
    display: inline-block;
    border-bottom: 4px solid #283f68;
}

.botonesindex:hover {
    color: #ff6600;
    border-bottom: 4px solid #ff6600;
}

footer {
    background-color: #283f68;
    background-size: 100%;
}

.contenidodelfooter {
    margin-left: 16%;
    margin-right: 16%;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 0.8em;
    font-style: normal;
    color: white;
    display: flex;
    justify-content: space-between;
}

.centrofooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logosfooter {
    display: flex;
    gap: 20px;
    padding-bottom: 8px;
    align-items: center;
}

.botondescargacv {
    background-color: transparent;
    color: white;
    font-weight: 900;
    border: 3px solid white;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.contenidodelfooter p {
    line-height: 1.6;
    color: white;
}

.marginadoderecho {
    text-align: right;
}

header {
    margin-top: 60px;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    z-index: 20;
}

.navgeneral {
    margin-left: 16%;
    margin-right: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logonav {
    display: flex;
    justify-content: flex-start;
}

.botonera {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 6px;
    gap: 8%;
}

.botonesnav {
    font-size: 1em;
    color: #283f68;
    display: inline-block;
    border-bottom: 2px solid #283f68;
}

.botonesnav:hover {
    color: #ff6600;
    display: inline-block;
    border-bottom: 2px solid #ff6600;
}

.fondocolor {
    background-color: #283f68;
    border-radius: 20px;
    margin-left: 16%;
    margin-right: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
    height: 184px;
    position: absolute;
    z-index: 1;
}

#contenedorcv {
    margin: 100px 24% 100px 24%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.fotoconnombre {
    display: flex;
    gap: 10%;
    padding-top: 40px;
}

.contenedorfotocv {
    width: 30%;
    display: flex;
    justify-content: center;
}

.fotocv {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 3px solid #283f68;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    color: white;
    padding-bottom: 36px;
}

.descripcion {
    font-weight: normal;
    font-size: 1em;
}

.nombreydescripcion {
    align-content: end;
    padding-bottom: 6px;
    color: #283f68;
    width: 60%;
}

.todainformacion {
    display: flex;
    gap: 10%;
    padding-top: 40px;
}

.izquierda {
    width: 30%;
}

.derecha {
    width: 60%;
}

.izquierda, .derecha {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.formacion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formacion h2 {
    padding: 0;
}

.formacion li, .parrafo1 {
    padding-top: 10px;
}

h2 {
    font-weight: 900;
    color: #283f68;
    font-size: 1.2em;
    padding-bottom: 10px;
}

ul, ol {
    list-style-position: inside;
    color: #283f68;
}

ul li::marker {
    font-size: 0.6em;
    margin-right: 0;
    padding-right: 0;
}

ol li::marker {
    font-size: 0.8em;
    margin-right: 0;
    padding-right: 0;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    color: #283f68;
    border: 2px solid #283f68;
    border-radius: 20px;
    background-color: transparent;
    display: inline;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

p {
    color: #283f68;
}

.habilidades {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textobarras {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 4px;
    padding-top: 10px;
}

.barra1 {
    width: 30%;
    background-color: #c0c0c0;
    border-radius: 6px;
    height: 12px;
    position: absolute;
    z-index: 1;
}

.colorbarra1 {
    width: 70%;
    height: 12px;
    background-color: #283f68;
    border-radius: 6px;
    color: #283f68;
    position: relative;
    z-index: 2;
}

.colorbarra2 {
    width: 50%;
    height: 12px;
    background-color: #283f68;
    border-radius: 6px;
    color: #283f68;
    position: relative;
    z-index: 2;
}

.colorbarra3 {
    width: 80%;
    height: 12px;
    background-color: #283f68;
    border-radius: 6px;
    color: #283f68;
    position: relative;
    z-index: 2;
}

.colorbarra4 {
    width: 60%;
    height: 12px;
    background-color: #283f68;
    border-radius: 6px;
    color: #283f68;
    position: relative;
    z-index: 2;
}

.colorbarra5 {
    width: 70%;
    height: 12px;
    background-color: #283f68;
    border-radius: 6px;
    color: #283f68;
    position: relative;
    z-index: 2;
}

.porcentaje {
    font-size: 0.7em;
}

#galeria {
    justify-content: center;
    margin: 50px 24% 100px 24%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.tarjetas {
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid #c0c0c0;
    box-shadow: 0 0 6px #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas:hover{
    background-color: transparent;
    border-radius: 10px;
    border: 0.6px solid #ff6600;
    box-shadow: 0 0 6px #ff6600;
}

.fotosportfolio {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.descriptor h3 {
    border: none;
    font-size: 1em;
    font-weight: 900;
    color: #283f68;
    padding-bottom: 10px;
}

.botonvermas {
    padding-top: 10px;
    padding-bottom: 20px;
}

.vermas {
    color: white;
    font-size: 0.7em;
    background-color: #283f68;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.vermas:hover {
    background-color: #ff6600;
    color: white;
}

.maincontacto {
    margin-top: 100px;
}

#contenedordelformulario {
    margin: 25px 16% 100px 16%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #283f68;
}

.subtitulosdelform {
    border: none;
    font-size: 1em;
    font-weight: 900;
    color: #283f68;
    padding-bottom: 16px;
    text-align: start;
    padding-left: 0;
}

.formdatos, .formopciones, .mensaje {
    display: flex;
    flex-direction: column;
}

.formdatos h3 {
    text-align: center;
}

.filas {
    display: flex;
    gap: 16px;
}

.filas input {
    width: 300px;
    height: 30px;
    border: none;
    border: 2px solid #283f68;
    border-radius: 10px;
}

.filas label, .filas ::placeholder {
    padding-left: 4px;
}

.tituloycampo {
    display: flex;
    flex-direction: column;
}

.interesymensaje {
    display: flex;
    gap: 16px;
    padding-top: 10px;
}

.interesymensaje h3 {
    padding-bottom: 8px;
}

.formopciones, .mensaje {
    width: 300px;
}

.parapaddingtop {
    padding-top: 24px;
}

.opciones {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 300px;
    height: 80px;
    border: none;
    border: 2px solid #283f68;
    border-radius: 10px;
    font-family: roboto;
}

input:hover, textarea:hover, input:active, textarea:active {
    border: 2px solid #ff6600;
    border-radius: 10px;
}

.contenedorbotonescontacto {
    padding-top: 24px;
    display: flex;
    gap: 16px;
}

.contenedorbotonescontacto input {
    width: 300px;
    background-color: #283f68;
    color: white;
    font-weight: 900;
    font-size: 0.7em;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedorbotonescontacto input:hover, .contenedorbotonescontacto input:active  {
    border: none;
    background-color: #ff6600;
}

.fondocinta {
    background-color: transparent;
    border-top: 2px solid #ff6600;
    border-bottom: 2px solid #ff6600;
    margin-left: 16%;
    margin-right: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
}

.cinta {
    padding-top: 10px;
    display: inline-block;
    animation: cinta 30s linear infinite;
}

.cinta h2 {
    color: #ff6600;
}

    @keyframes cinta {
        0% {
            transform: translateX(100%); /* Comienza desde la derecha */
        }
        100% {
            transform: translateX(-100%); /* Termina en la izquierda */
        }
    }

    @media screen and (max-width: 1024px){
        .contenidodelfooter {
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        .contenidodelfooter p {
            text-align: center;
        }
    }
        

    @media screen and (max-width: 768px) {
        .logoindex {
            width: 601px;
            height: 454px;
        }
    
        .fotoypresentacion {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    
        .contenedordeflor {
            display: flex;
            align-self: center;
            padding-right: 0;
        }
    
        .contenidodelfooter {
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        .contenidodelfooter p {
            text-align: center;
        }
    
        .navgeneral {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    
        .botonera {
            display: flex;
            justify-content: center;
        }
    
        .navgeneral, .fondocolor, .fondocolor2 {
            padding: 0;
            margin: 0;
            width: 100%;
            border-radius: 0;
        }
    
        #contenedorcv {
            margin-left: 16%;
            margin-right: 1676%;
            margin-top: 80px;
        }
    
        .fotoconnombre {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        .nombreydescripcion {
            text-align: center;
        }
    
        .nombreydescripcion h1 {
            color: #283f68;
            padding-bottom: 20px;
        }
    
        .todainformacion {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 50px;
        }
    
        .todainformacion h2 {
            text-align: center;
        }
    
        .izquierda, .derecha {
            width: 100%;
        }
    
        .izquierda .barra1 {
            width: 100%;
        }
    
        .fondocinta {
            margin: 0;
            width: 100%;
        }
    
        #galeria {
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 40px;
            grid-row-gap: 20px;
        }
    
        #contenedordelformulario {
            margin-left: 10%;
            margin-right: 10%;
        }   
}

@media screen and (max-width: 600px) {
    .logoindex {
        width: 401px;
        height: 254px;
    }

    .fotoypresentacion {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .fotoperfil {
        width: 284px;
        height: 284px;
    }

    .contenedordeflor {
        display: flex;
        align-self: center;
        padding-right: 0;
    }

    .navindex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contenidodelfooter {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contenidodelfooter p {
        text-align: center;
    }

    .navgeneral {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .botonera {
        display: flex;
        justify-content: center;
    }

    .navgeneral, .fondocolor, .fondocolor2 {
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #contenedorcv {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 80px;
    }

    .fotoconnombre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nombreydescripcion {
        text-align: center;
    }

    .nombreydescripcion h1 {
        color: #283f68;
        padding-bottom: 20px;
    }

    .todainformacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 50px;
    }

    .todainformacion h2 {
        text-align: center;
    }

    .izquierda, .derecha {
        width: 100%;
    }

    .izquierda .barra1 {
        width: 100%;
    }

    .fondocinta {
        margin: 0;
        width: 100%;
    }

    #galeria {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 20px;
    }

    #contenedordelformulario {
        margin-left: 10%;
        margin-right: 10%;
    }

    .filas {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .formdatos {
        gap: 20px;
    }

    .parapaddingtop {
        padding-top: 0;
    }

    .interesymensaje {
        display: flex;
        flex-direction: column;
    }

    .subtitulosdelform {
        text-align: center;
    }

    .contenedorbotonescontacto {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

   
